<launch>
    <arg name="velocity" default="6.0" />
    <arg name="sequence_csv" default="" />
    <node pkg="purepursuit" type="purepursuit_" name="purepursuit_node" output="screen">
        <param name="velocity" value="$(arg velocity)" />
        <param name="sequence_csv" value="$(arg sequence_csv)" if="$(eval sequence_csv != '')" />
    </node>
</launch>